body {
    padding: 0px;
    margin: 0px;
}

form {
    border: 3px solid #f1f1f1;
}

form.loginForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    background-color: #fff;
    border-radius: 10px;
}

form.signForm {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 10px;
}

form.homeForm {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: #fff;
    border: 1px #000 solid;
}

form.homeForm th {
    background-color: #04AA6D;
    color: #fff;
    padding: 6px;
}

form.homeForm tr {
    background-color: #f1f1f1;
}

form.homeForm td {
    color: #000;
    padding: 6px;
}

form.homeForm tr:nth-child(odd) {
    background-color: #89B1DF;
}

div.loginPage {
    background: url(/images/sky.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.text-center {
    text-align: center;
}

button.btn {
    display: inline-block;
    width: 80px;
    cursor: pointer;
}

button.create {
    background-color: blue;
    border-radius: 50rem;
    width: 160px;
}

button.delete {
    color: #fff;
    background-color: red;
}

div.searchDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.searchDiv input {
    border-radius: 50rem;
    width: 60%;
}

div.msg {
    color: red;
    padding-left: 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style for buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Hover effect*/
button:hover {
    opacity: 0.8;
}

/* Styling the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Padding for containers */
.container {
    padding: 16px;
}

.container:last-child {
    background-color: #f1f1f1;
}

/* "Forgot password" text */
span.sign {
    float: left;
    padding-top: 26px;
    color: #000;
}

span.psw {
    float: right;
    padding-top: 26px;
color: #000;
}
span.psw a, span.sign a {
    color: #000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}